body{
    margin: 0;
    padding: 0;
    border:none;
    background-color: gainsboro;
    font-family: "cwTeXYen", sans-serif;
}

html{
    scroll-behavior: smooth;
}

/*菜單*/

    /*菜單右方*/

#meau{
    width:100%;
}

ul.meau_area {
    list-style-type: none;

    margin: 20px 20px 20px 20px;
    padding: 0;
    
    overflow: hidden;
    
    background-color: #333;
    
    border-radius: 10px;
}

li.logo{
    color: white;
    text-decoration: none;    
    text-align: center;
    
    font-size: 22px;
    font-weight:bolder;
    margin-left: 1%;
    padding: 50px 20px 50px 20px;
}

li.logo a{
    text-decoration: none;
    color: white;
}

li {
    float: left;
    font-size: 22px;
}
  
a.meau_choice , a.drop_choice {
    display: inline-block;

    color: white;
    text-decoration: none;    
    text-align: center;
    margin-top: 0;
    margin-bottom:0;
    padding: 50px 30px 55px 30px;
}
  
li > a.meau_choice:hover {
    background-color: red;
}

li.dropdown > a.drop_choice:hover{
    background-color: red;
}
  
li.dropdown {
    display: inline-block;
}
  
div.dropdown_content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 10%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
div.dropdown_content > a {
    color: black;
    padding: 20px 20px;
    
    font-size:15px;
    text-align: center;
    text-decoration: none;
    
    display: block;
}
  
div.dropdown_content > a:hover {
    background-color: #f1f1f1;
}
  
li.dropdown:hover > div.dropdown_content {
    display: block;
}

    /*菜單右方*/

div.meau_right{
    float: right;

    margin-right: 2%;
}

#meau_s{
    padding-top: 50px;
}

.search{
    border:0 none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    line-height: 25px;
	border-radius: 5px;
	position: relative;
	bottom: 3px;
}

.searchform{
    padding: 0;
    margin: 0;
}

.search-img{
    width: 20px;
    height: auto;
}

a.meau_choice2{ 
    display: inline-block;

    color: white;
    text-decoration: none;    
    text-align: center;
    
    padding: 50px 30px 50px 30px;
}

a.meau_choice3{
    display: inline-block;

    padding: 50px 30px 30px 30px;   
}

a.meau_choice2:hover{
    transform: scale(1.2);
    transition:all 0.8s ease 0s;
}

a.meau_choice3:hover{
    transform: scale(1.2);
    transition:all 0.8s ease 0s;    
}

img.img_cart{
    width: 30px;
}

img.img_member{
    width: 25px;
}

/*--------------------*/

h1.title{
    font-size:40px;
    width:20%;
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 40%;
    margin-right:40%;
    text-align: center;

    transform: scale(1,1);
    transition: all 0.5s ease 0s;
}
h1.title:hover{
    color:cadetblue;
    transform: scale(1.2,1.2);
}

    .sell{
        width: 70%;
        margin: 0 auto;
        padding-bottom: 100px;
    }

    .left{
        width: 300px;
        float:left;
        padding-left: 20%;
        padding-right: 20px;
    }

    img.goods{
        width: 300px;
        margin-top: 40px;
        padding-bottom: 50px;
        border-radius: 10px;
        overflow: hidden;
        transform: scale(1,1);
        transition: all 0.5s ease 0s;
    }

    img.goods:hover{
        transform:scale(1.05,1.05);
    }

    img.goods2{
        width: 300px;
        padding-top: 30px;
        padding-bottom: 30px;
        border-radius: 10px;
        overflow: hidden;
        transform: scale(1,1);
        transition: all 0.5s ease 0s;
    }

    img.goods2:hover{
        transform:scale(1.05,1.05);
    }

    .right{
        padding-top: 30px;
        width: auto;
        margin-left: 360px;
        padding-right: 15%;
    }

    p.introduce{
        font-size: 18px;
        font-weight: bolder;
    }

    p.amount{
        color: red;
        font-size: 14px;
        font-weight: bolder;
    }
    
    .btn-group{
        font-size: 0;
        margin-top: 50px;
        padding-left: 32%;
    }

    .btn{
        font-size: 15px;
        border-radius: 5px;
        border: none;
        background-color: #3e5293;
        width: 100px;
        padding: 10px 0;
        color: #fff;
    }

    .btn a{
        text-decoration: none;
        color: white;
        font-family: "cwTeXYen", sans-serif;
    }
    .btn:hover{
        background-color: red;
    }

    .btn + .btn{
        margin-left: 20px; 
    }

    /*copyright*/

div.footercontainer{
    display: flex;
    width: 100%;
    margin-bottom: auto;
}

div.copyright{
    width: 100%;
    text-align: center;
    margin: 135px 0 0;
    padding: 10px 0px;
    background-color: #3e5293;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/*評論區*/

div.comment{
    width: 100%;

    /*板塊置中*/
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-bottom: 30px;
}

div.comment_area{

    width:50%;
    height:300px;

    background-color:bisque;

    padding-bottom: 10px;

    border-radius: 30px;

        /*板塊置中*/
    display: flex;
    justify-content: center; 
    align-items: center;
}

div.comment_text1{
    font-size: 30px;
    padding-left: 50px;
}

img.img_profile{
    width:30%;
}

div.comment_form{
    width:20%;
    height:300px;

    background-color:bisque;

    padding-left:20px;
    margin-left: 30px;
    border-radius: 30px;
}

div.comment_form > p {
    font-size:25px;
}

input.input_name{
    font-size: 20px;
    margin-bottom: 10px;
}

input.btn_submit{
    margin-top:10px;
}

.rating {
    font-size: 0;
    display: table;
    margin-top:10px;
}
.rating > label {
    color: #ddd;
    float: right;
}
.rating > label:before {
    padding: 5px;
    font-size: 30px;
    line-height: 1em;
    display: inline-block;
    content: "★";
}
.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: #FFD700;
}
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
    opacity: 0.5;
}

.rating1 > li {
    padding: 5px;
    font-size: 30px;
    line-height: 1em;
    display: inline-block;
    content: "★";
    color: #FFD700;
}
