button.button {
    border-radius: 10px;
    background-color: rgb(34, 167, 219);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
    padding: 20px;
    width: 240px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px 20px;
    font-family: "cwTeXYen", sans-serif;
}

button.button > span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button.button > span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

button.button:hover > span {
    padding-right: 25px;
}

button.button:hover > span:after {
  opacity: 1;
  right: 0;
}