body{
    margin: 0; padding: 0; height: 100%; border:none;
    background-image: url(../img/covid-19.jpg);
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: "cwTeXYen", sans-serif;
}

div.window1{
    margin:1% ;

    /*板塊置中*/
    display: flex;
    justify-content: center; 
    align-items: center;
}

h1.title {
    font-weight: bolder;
    font-size: 70px;
    color: white;
}

  
h1.title > span.text_wrapper {
    position: relative;
    padding-top: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
}

div.window2{
    margin:1% ;

    /*板塊置中*/
    display: flex;
    justify-content: center; 
    align-items: center;

}

div.window3{
    margin:3% ;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.7);

    /*板塊置中*/
    display: flex;
    justify-content: center; 
    align-items: center;
}

header.content_title{
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    padding-top: 20px;
}

span.content > p ,ul{
    font-size:22px;
}