*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "cwTeXYen", sans-serif;
}

html,body{
    height: 100%;
}

body{
    background-image: url(../img/loginbackground.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    width: 600px;
    height: 90%;
    background-color: rgba(0,0,0,.5);
    border-radius: 10px;
    border: 10px solid #fff;
    box-shadow: 0 0 60px #000;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    width: 400px;
    color: #fff;
}

.form h2{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
}

.form .group{
    margin-bottom: 20px;
}

.form label{
    line-height: 2;
}

.form input{
    width: 100%;
    border: 1px solid #aaa;
    line-height: 3;
    border-radius: 5px;
}

.form .btn-group{
    font-size: 0;
    margin-top: 50px;
    text-align: center;
}

.form .btn{
    font-size: 20px;
    border-radius: 5px;
    border: none;
    background-color: #6ab4fe;
    width: 190px;
    padding: 10px 0;
    color: white;
    font-family: "cwTeXYen", sans-serif;
}

.btn:hover{
    background-color: cadetblue;
}

.form .btn a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.form .btn + .btn{
   margin-left: 20px; 
}